# Testing
coverage==6.4.2                  # Test coverage
flake8==5.0.0                    # Python linting

# Types
mypy==0.971                      # Static typing
types-setuptools==63.2.2         # Type stubs for setuptools package
