# Testing
coverage==7.3.2                  # Test coverage
ruff==0.1.1                      # Python linter

# Types
mypy==1.6.1                      # Static typing
types-setuptools==68.2.0.0       # Type stubs for setuptools package
